<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/x-icon" href="{{ .Site.BaseURL }}FL_gris.ico">
    <title>{{ .Site.Title }}</title>
    <meta name="description" content="{{ .Site.Params.description }}">
    
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!-- Styles -->
    {{ $styles := resources.Get "css/main.css" }}
    {{ if $styles }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}">
    {{ end }}
    
    <!-- Google Analytics -->
    {{ if .Site.Params.googleAnalytics }}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Params.googleAnalytics }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ .Site.Params.googleAnalytics }}');
    </script>
    {{ end }}
</head>
<body>
    {{ block "main" . }}{{ end }}
    
    <!-- Scripts -->
    {{ $scripts := resources.Get "js/main.js" }}
    {{ if $scripts }}
    <script src="{{ $scripts.RelPermalink }}"></script>
    {{ end }}
</body>
</html>
